html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px;
}

@font-face {
  font-family: NunitoSans;
  src: url('/NunitoSans/NunitoSans-SemiBold.ttf');
  font-weight: black;
}

@font-face {
  font-family: NunitoSansBold;
  src: url('/NunitoSans/NunitoSans-Bold.ttf');
  font-weight: black;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'NunitoSans';
}

h1,
h2,
h3,
input,
textarea,
div,
button {
  font-family: 'NunitoSans';
  font-weight: black;
}

html.wf-loading * {
  opacity: 0;
}
